.DS_Store

*~
*#
*._*
*.log
*.log.*

*.pyc
*.egg-info

MANIFEST

build
dist

.cache
__pycache__
.idea
.pytest_cache

# Virtual Environments
venv*
.tox

Pipfile.lock

testAppium/unit/testcase/monitor_suit.py

testAppium/unit/testcase/suite2.py
